{% extends 'account/index.html' %}
{% load widget_tweaks %}

{% block title %}Staff list{% endblock %}

{% block body %}
<div id="hero" class="hero overlay" style=" min-width: 768px;">
    <div class="aabox-container">

        <div class="row mt-50" style="margin-top: 50%; margin-left: 5%; ">
            <div class="col-md-8 col-md-offset-2">
                <form action="{% url 'registerUser' %}" method="POST">
                    {% csrf_token %}

                    {% if form.errors %}
                    <p style="color: red; font-weight: bold; margin-bottom: 2em; text-decoration: underline;">There was
                        an
                        error with your data...
                    </p>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-20">
                        <button class="btn btn-green" style="margin-right: 15%;" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="hero-content asmall" style="margin-top: 40%; margin-right: 15%;">
            <div class="hero-text">
                <h1>Hey!</h1>
                <p>Please register our new colleague</p>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div>
</div><!-- /.hero -->

{% endblock %}